<%# banner %>
<% if @list.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">
<% else %>
  <div class="banner" style="background-color: tomato">
<% end %>
  <div class="container">
    <h1><%= @list.name.capitalize %></h1>
    <%= link_to 'Add a Movie', new_list_bookmark_path(@list), class: 'btn btn-flat' %>
  </div>
</div>


<div class="container mb-5 py-5">
  <%# List's Bookmark %>
  <div class="d-flex align-items-center justify-content-between mb-3">
  <h3 class="mb-0">Bookmarks:</h3>

  </div>
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title %>
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p> "<%= bookmark.comment %>" </p>
            <%# <h2 class="card-trip-pricing">£99.99</h2> %>
            <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
          </div>
          <%= link_to 'Delete',
                            bookmark_path(bookmark),
                            class: 'btn btn-delete',
                            method: :delete,
                            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <%# REVIEWS %>
  <h2>Leave a review</h2>
  <ul>
    <% @list.reviews.each do |review| %>
      <li>
        <% review.rating.times do %>
          <i class="fas fa-star star-yellow"></i>
        <% end %>
        <p><%= review.comment %></p>
        <hr>
      </li>
    <% end %>
  </ul>

  <h2>Reviews</h2>
  <%= simple_form_for [@list, @review] do |f| %>
  <%= f.input :comment, placeholder: "Add your review here..." %>
  <%= f.input :rating,as: :select, collection: (1..5)%>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
</div>
